<!DOCTYPE html>
<html>
<head>
 <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
<!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
<div class="container">
    <form action="{%url 'post'%}" method="post">
        {% csrf_token %}
        <div class="row">
            <div class="input-field col s10">
                {{ form }}
            </div>
            <div class="input-field col s2" align="right">
                <div class="input-field col s12">
                    <button type="submit" class="btn blue">Registrar</button>
                </div>
            </div>
        </div>
    </form>

    <div class="card light-grey blue-text">
        <table class="highlight">
        	<thead>
                <tr>
                    <th>Fecha</th>
                    <th>Compra</th>
                    <th>Borrar</th>
                    <th>Archivar</th>
                </tr>
            </thead>
            <tbody>
                {% for rg in Registros %}
                    <tr>
                    	<td>{{ rg.fecha }}</td>
                    	<td>{{ rg.compra }}</td>
                        <td><a class="btn-floating btn waves-effect waves-light blue"><i class="material-icons">close</i></a></td>
                        <td><a class="btn-floating btn waves-effect waves-light grey"><i class="material-icons">clear</i></a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

</div>
</body>
</html>